<section class="events" id="Gallery">

  <!--
  <div class="container">
    <h1>Media</h1>
  </div>
  -->

  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-a7e5e5a0-7b0c-4d8b-b46c-b6277ad18f00" data-elfsight-app-lazy></div>

  <!--
  <div class="gallery-wrap">
      <div>
        <span class="gallery-box"><%= image_tag 'event_1.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_2.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'event_2.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'event_5.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'event_6.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'event_7.jpg', class:"gallery-img" %></span>
      </div>
  </div>
  -->
</section>
