<section class="events" id="events">
  <div class="container">
    <h1>Events Gallery</h1>
  </div>

  <div class="gallery-wrap">
      <div>
        <span class="gallery-box"><%= image_tag 'shop_1.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_2.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_3.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_4.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_5.jpg', class:"gallery-img" %></span>
        <span class="gallery-box"><%= image_tag 'shop_6.jpg', class:"gallery-img" %></span>
      </div>
  </div>
</section>
