<!--
<section class="hero" id="Home">

  <video autoplay muted loop id="myVideo">
    <source src="images/videos/event_vid_4_cropped.mp4" type="video/mp4">
  </video>

  <div class="hero-content">
      <div class="block">
        <h5>COFFEE & BAR</h3>
        <h1>Melting Pot</h1>
        <h6>Good Music, Good Vibes, Good Cheese Toast</h6>
        <dl>
          <dt>Open Hours</dt>
          <dd>Mon-Fri 12PM-4PM 7PM-12AM</dd>
          <dd>Sat-Sun 1PM-12AM</dd>
          <dd>Thur Closed</dd>
        </dl>
      </div>
  </div>

</section>
-->

<section class="hero" id="Home">

    <div class="hero-container">
      <div class="col c-1">
        <div class="item"><%= image_tag 'intro/anri-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/blu-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/brother-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/camp-lo-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/dan-p.webp', class:'intro-img', alt:'' %></div>
      </div>
      <div class="col c-2">
        <div class="item"><%= image_tag 'intro/deltron-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/dilla-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/doom-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/glasper-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/heron-p.webp', class:'intro-img', alt:'' %></div>
      </div>
      <div class="col c-3">
        <div class="item"><%= image_tag 'intro/hiero-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/jeru-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'shop_5.jpg', id:'main-img', class:'intro-img', alt:'' %></div>
        <!--
          <div class="item">
            <video autoplay muted loop id="myVideo">
              <source src="./assets/event_vid_4_cropped.mp4" type="video/mp4">
            </video>
          </div>
        -->
        <div class="item"><%= image_tag 'intro/lauryn-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/madlib-p.webp', class:'intro-img', alt:'' %></div>
      </div>
      <div class="col c-4">
        <div class="item"><%= image_tag 'intro/marvin-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/maze-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/mos-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/outkast-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/pete-p.webp', class:'intro-img', alt:'' %></div>
      </div>
      <div class="col c-5">
        <div class="item"><%= image_tag 'intro/quasi-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/ryo-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/sade-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/souls-p.webp', class:'intro-img', alt:'' %></div>
        <div class="item"><%= image_tag 'intro/taeko-p.webp', class:'intro-img', alt:'' %></div>
      </div>
    </div>
    <div class="hero-content">
      <nav class="hero-nav">
        <div class="hero-nav-item">
          <a href="#" id="active">Home</a>
        </div>
        <div class="hero-nav-item">
          <a href="#">About</a>
        </div>
        <div class="hero-nav-item">
          <a href="#">Menu</a>
        </div>
        <div class="hero-nav-item">
          <a href="#">Gallery</a>
        </div>
        <div class="hero-nav-item">
          <a href="#">Contact</a>
        </div>
      </nav>

      <div class="shop-title">
        <div class="icon"><ion-icon name="add-sharp"></ion-icon></div>
        <div class="title"><p>Melting Pot</p></div>
        <div class="icon-2"><ion-icon name="add-sharp"></ion-icon></div>
      </div>

      <div class="hero-footer">
        <div class="preview">
          <%= image_tag 'intro/glasper-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/ryo-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/blu-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/taeko-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/lauryn-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/camp-lo-p.webp', class:'intro-img', alt:'' %>
          <%= image_tag 'intro/anri-p.webp', class:'intro-img', alt:'' %>
        </div>

        <div class="slide-num"><p>1 &mdash; 3</p></div>
      </div>
    </div>

</section>
