<section class="menu" id="Menu">

      <section class="card pinned menu-section">
        <div class="menu-slide"><%= image_tag 'intro/blu-p.webp' %></div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide"><%= image_tag 'intro/doom-p.webp' %></div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide"><%= image_tag 'intro/ryo-p.webp' %></div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide"><%= image_tag 'intro/sade-p.webp' %></div>
      </section>

      <section class="card pinned menu-section">
        <div class="menu-slide"><%= image_tag 'intro/souls-p.webp' %></div>
      </section>

      <section class="card scroll menu-section">
        <div class="menu-slide"><%= image_tag 'intro/glasper-p.webp' %></div>
      </section>

      <section class="menu-footer"></section>

</section>
